.tab {
    background-color: var(--soft-grey);
    border-radius: 40px;
    height: 48px;
    width: 335px;
  }
  
  .tab .group {
    height: 43px;
    position: relative;
    top: 2px;
  }
  
  .tab .overlap-group {
    background-color: var(--white);
    border-radius: 40px;
    box-shadow: 0px 2px 10px #9396ae40;
    height: 43px;
    position: absolute;
    top: 0;
    width: 166px;
  }
  
  .tab .div {
    color: #232a41;
    font-family: var(--big-button-font-family);
    font-size: var(--big-button-font-size);
    font-style: var(--big-button-font-style);
    font-weight: var(--big-button-font-weight);
    letter-spacing: var(--big-button-letter-spacing);
    line-height: var(--big-button-line-height);
    position: absolute;
    text-align: center;
    width: 76px;
  }
  
  .tab .div-2 {
    color: #232a41;
    font-family: var(--caption-font-family);
    font-size: var(--caption-font-size);
    font-style: var(--caption-font-style);
    font-weight: var(--caption-font-weight);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 76px;
  }
  
  .tab .tab-1 {
    left: 2px;
    width: 292px;
  }
  
  .tab .tab-2 {
    left: 47px;
    width: 289px;
  }
  
  .tab .group.tab-1 .overlap-group {
    left: 0;
  }
  
  .tab .group.tab-2 .overlap-group {
    left: 119px;
  }
  
  .tab .group.tab-1 .div {
    left: 45px;
    top: 12px;
    white-space: nowrap;
  }
  
  .tab .group.tab-2 .div {
    left: 48px;
    top: 11px;
  }
  
  .tab .group.tab-1 .div-2 {
    left: 212px;
    top: 11px;
  }
  
  .tab .group.tab-2 .div-2 {
    left: 0;
    top: 12px;
  }
  